<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hualing.qrcodetracker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required -->
    <permission
        android:name="com.hualing.qrcodetracker.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required -->
    <uses-permission android:name="com.hualing.qrcodetracker.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".global.TheApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.main.EmployeeMainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activities.main.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.abandon.UserTypePickActivity">
        </activity>
        <activity android:name=".activities.abandon.GuestMainActivity">
        </activity>
        <activity
            android:name=".activities.main.EmployeeLoginActivity"
            android:label="@string/title_activity_employee_login">
        </activity>
        <activity
            android:name=".activities.main.ScanActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activities.abandon.InfoShowActivity">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_in.MaterialInDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_out.MaterialOutDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_wl.wl_in.MaterialInMainActivity">
        </activity>
        <activity android:name=".activities.operation_wl.wl_out.MaterialOutMainActivity">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_in.WLInRKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_out.WLCKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_in.SelectHlSortActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.main.SelectDepartmentActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_wl.wl_return.MaterialReturnMainActivity">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_return.WLTKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_return.MaterialTKDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_wl.wl_tl.MaterialThrowActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_common.SelectGXActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_common.SelectCJActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_bcp.bcp_in.BcpInMainActivity">
        </activity>
        <activity
            android:name=".activities.operation_bcp.bcp_in.BCPInRKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_bcp.bcp_in.BCPInDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_common.SelectSXYLActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_bcp.bcp_tl.BcpThrowActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_bcp.bcp_return.BcpReturnMainActivity">
        </activity>
        <activity
            android:name=".activities.operation_bcp.bcp_return.BcpTKDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_bcp.bcp_return.BcpTKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_cp.cp_in.BigCPInDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_cp.cp_in.CPInMainActivity">
        </activity>
        <activity
            android:name=".activities.operation_cp.cp_in.CPRKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_cp.cp_out.CPOutMainActivity">
        </activity>
        <activity
            android:name=".activities.operation_cp.cp_out.BigCPOutDataInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activities.operation_cp.cp_out.CPCKDInputActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".activities.operation_track.BcpDataTrackActivity">
        </activity>
        <activity android:name=".activities.operation_cp.cp_in.CPInProductStylePickActivity">
        </activity>
        <activity android:name=".activities.operation_cp.cp_out.CPOutProductStylePickActivity">
        </activity>
        <activity android:name=".activities.operation_cp.cp_in.SmallCPInDataInputActivity">
        </activity>
        <activity android:name=".activities.operation_cp.cp_out.SmallCPOutDataInputActivity">
        </activity>
        <activity android:name=".activities.operation_common.SelectLBActivity">
        </activity>
        <activity android:name=".activities.operation_common.SelectBigCpActivity">
        </activity>
        <activity android:name=".activities.operation_track.SmallCpDataTrackActivity">
        </activity>
        <activity android:name=".activities.operation_track.WlDataTrackActivity">
        </activity>
        <activity android:name=".activities.operation_track.BigCpDataTrackActivity">
        </activity>
    </application>

</manifest>